html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/lab5/search.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(7);
    width: 100%;
    height: 100%;
}

#searchbar {
    display: flex;
}

#inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(80, 80, 80, 0.4);
    border-radius: 8px;
    width: 350px;

    padding-bottom: 15px;
}

.title, .subtitle {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 5px;
}

#searchbar, 
.search-text-area, 
.icon, 
.search-text-area > input {
    background-color: white;
    height: 35px;
    border-radius: 8px;
}

.icon {
    background-image: url('../../assets/img/lab5/magnifying.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 35px;
    margin-right: 5px;
}

.search-text-area {
    width: 200px;
    height: 35px;
}

.search-text-area > input {
    border: 0;
    outline: none;
    width: 95%;
    height: 32px;
    margin-left: 2px;
 }

 button, #submit {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
}

#def-response {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#term, #definition {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#term {
    font-size: 24px;
    font-weight: bold;
}

#definition {
    font-size: 18px;
    max-height: 200px;
    overflow: scroll;
}
